* {
    box-sizing: border-box;
}

body {
    margin: 0 0 100px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #505050;
    background-color: #f2f2f2;
}

a {
    color: #8600b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    background-color: #505050;
    color: white;
    padding: 10px 0;
    position: sticky;
    top: 0;
}

.nav-link {
    color: white;
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.row-when {
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid gray;
}

.row-where {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px solid gray;
    background-image: url('img/barnsley-map.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 350px;
}

.row-schedule {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid gray;
}

.row-story {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid gray;
    background-color: #f2f2f2;
}

.row-faq {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 250px;
}

.question {
    margin-top: 20px;
    font-weight: bold;
}

.answer {
    margin-top: 5px;
    color: #777;
}

.bordered-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 50px;
    padding: 5px;
    background-color: white;
}

.outer-border {
    border: 2px solid #BBB;
}

.inner-border {
    border: 2px solid #BBB;
    margin: 3px;
}

.center {
    justify-content: center;
}

.row-rose {
    height: 425px;
    opacity: .2;
    z-index: -1;
}

.rose-container {
    position: absolute;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.schedule-left, .schedule-right, .faq, .contact {
    text-align: center;
    width: 50%;
}

.header-row {
    display: flex;
    align-items: center;
}

.logo {
    opacity: .4;
    height: 70px;
}

.heading {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: #ffd342;
    letter-spacing: .2rem;
}

.content {
    margin: 20px;
}

.big-date {
    font-size: 192px;
    font-weight: bold;
    color: #DDD;
    position: absolute;
    left: 20px;
    z-index: -1;
    white-space: nowrap;
    letter-spacing: 1vw;
}

h1 {
    margin: 10px;
}

table.main-info {
    margin: 10px;
}

table.main-info th {
    vertical-align: top;
    text-align: left;
    padding: 10px;
    font-weight: normal;
}

table.main-info td {
    padding: 10px;
}